.homestay-des-add{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}
.homestay-des-add1{
    background-color: rgb(43, 42, 42);
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}
.hotel-des-add{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}
.hotel-des-add1{
    background-color: rgb(43, 42, 42);
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}
.holiday-des-add{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}
.holiday-des-add1{
    background-color: rgb(43, 42, 42);
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}
.modal-image{
    width: 100px;
    height: 100px;
}
.label-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

img.hotel_thumb {
    max-width: 100px;
    height: auto;
}
.hotelview_div{
    margin-top: 20px;
}
.del_border{
    border: none;
}