.catlist-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:20px ;
    
}
.catlist-wrapper1{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 20px;
    
}
.hotellist-wrapper2{
    background: rgb(61, 58, 58);
    align-items: center;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hotel-input{
    background: #969696;
    border-radius: 3px;
}
.hotel-wrapper3{
    align-items: center;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;   
}
.sub-hotel-wrapper3{
    align-items: center;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: #000;
    border-radius: 3px;   
}
.head-hotel-wrapper3{
    display: flex;
    flex-direction: column;
    color: #969696;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.sub-hotel-wrapper3-img img{
    padding: 10px;
    height: 200px;
    width: 300px;
}
.cat-hotel-wrapper3{
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #969696;
}

.des-head{
    color: rgb(95, 90, 67);
    text-shadow: black 2px 2px;
}
.hotel-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 20px;
    flex-wrap: wrap;
    grid-template-columns: repeat(4,1fr);
}
.des_image{
    height: 250px;
    width: 200px;
    object-fit: contain;
    align-content: center;
    position: relative;
}
.hotel-wrapper1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:white;
    border-radius: 5px;
    border: none;
    box-shadow: #393939 3px 3px;
    padding: 10px; 
    width: 300px;
}
.searchbar-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px; ;
}
.search_div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
}
input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    color: aliceblue;
}
input:focus{
    outline: none;
}
#search-icon{
    color: rgb(0, 0, 0);
}
.hoteldet-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px ;
    background: #000;
}
.hoteldet-wrapper1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
}
.hoteldet-wrapper2{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.in-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;  
}
.in-div button{
    border: none;
    background: #000;
    color: #868282;
}
.in-div input{
    align-items: center;
    margin: 3px; 
    color: #393939; 
    width: fit-content;
}
.hoteldet-wrapper3{
    display: flex;
    background: white;
    border-radius: 4px;
    border: none;
    box-shadow:rgb(83, 83, 83) 3px 3px;
    margin: 20px;

}
.hotel_thumb{
    width: 350px;
    height: 300px;
}
.subwrapper-wrapper3{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: #000;
    background: #afaeae;
    padding: 10px;
    border-radius: 3px;
}
.subwrapper1-wrapper3{
    display: flex;
    align-items: center;
    gap: 20px;
}
.subwrapper2-wrapper3{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
}
.subw1-img img{
    height: 300px;
    width: 500px;
    border-radius: 3px;
}
.subwrapper3-wrapper3{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: #000;
    padding: 10px;
    border-radius: 3px;
    height: fit-content;
    
}
.hoteldet-wrapper4{
    display: flex;
    background: white;
    border-radius: 4px;
    border: none;
    box-shadow:rgb(83, 83, 83) 3px 3px; 
    width: 900px; ;
    flex-direction: column;
    padding: 10px;
}
.hoteldet-wrapper5{
    display: flex;
    background: white;
    border-radius: 4px;
    border: none;
    box-shadow:rgb(83, 83, 83) 3px 3px; 
    width: 900px; ;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
}
.comment-input-wrapper{
    display: flex;
    align-items: center;
    bottom: none;
    background: grey;
    border-radius: 3px;
    padding: 5px;
    gap: 15px;
}
.comment-input{
    color: #000;
}
.review_view_wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.review_view_wrapper1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.review_submit_button{
    border: none;
    background:grey;
}
.book-button{
    background-color: #afaeae ;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-top: 350px;
    cursor: pointer;
    border: none;
}
.rate_wrapper{
    display: flex;
    align-items: center;
}
.book-all-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.book-wrapper{
    width: 100%; 
    justify-content: space-between;
}
.book-subwrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
.book-wrapper1{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.book-wrapper2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
}
.book-wrapper3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.book-wrapper4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.book-wrapper5{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.book-img{
    width: 100px;
    height: 100px;
}
.payment-btn{
    border: none;
    background-color: rgb(125, 213, 229);
    padding: 10px;
    align-items: center;
    margin-top: 10px; 
    justify-content:end;
}

.product{
    background-color: #393939;
    padding: 10px;
}
.hotelpayment-button{
    border: none;
    margin-top: 10px;
    background: #000;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

