
.nav-wrapper{
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
background:rgb(255, 255, 255);
color: rgb(0, 0, 0);
width: 100%;
}
.nav-wrapper1{
    display: flex;
}
.nav-ul{
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 10px;
    cursor: pointer;

   
}
.nav-logo{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}
.nav-logo1{
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 40px;
    height: 40px;
}
.nav-logo li{
font-family: 'Irish Grover';
color: #000000;
font-style: italic;
font-weight: 500;
}
.nav-text{
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    padding-right: 20px;
    font-size: small;
}
.profile_icon{
    width: 100px;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    box-shadow: inset;
    z-index: 1;
    margin-top: 10px;
    width: fit-content;
    right: 0;
    border: solid;
}
.dropdown-item{
    cursor: pointer;
    background-color:grey(22, 20, 20);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 5px;
   

}
.modal-image{
    width: 100px;
    height: 100px;
}
.label-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal-head{
    display: flex;
    justify-content: space-between;
    gap: 50px;
   
}