
.nav-wrapper{
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
background:rgb(255, 255, 255);
color: rgb(0, 0, 0);
width: 100%;
}
.nav-wrapper1{
    display: flex;
}
.nav-ul{
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 10px;
    cursor: pointer;

   
}
.nav-logo{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}
.nav-logo1{
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 40px;
    height: 40px;
}
.nav-logo li{
font-family: 'Irish Grover';
color: #000000;
font-style: italic;
font-weight: 500;
}
.nav-text{
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    padding-right: 20px;
    font-size: small;
}
.profile_icon{
    width: 100px;
}
